@CHARSET "ISO-8859-1";

#datagrid {
	/*margin-top: 30px;
	border: thin groove blue;*/
	margin-left: 12px;
	padding: 10px;
	overflow: auto; 
	max-height:250px;
	width: 96%;
}

::-webkit-scrollbar 
{
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,1,5); 
    border-radius: 10px;
}


::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment 
{
	display: block;
	height: 12px;
}
	
::-webkit-scrollbar-button:vertical:increment:hover
{
	/*background-color: black;
    border: 1px solid grey;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,1,5); 
    border-radius: 2px;
}
	
::-webkit-scrollbar-button:vertical:decrement:hover
{
    /*background-color: black;
    border: 1px solid grey;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,1,5); 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


#headergrid{
	
/*border: thin groove blue;*/
margin-left: 12px;
/*padding: 10px;*/
/*overflow: auto; */
/*max-height:40px;*/

}

#employeeheader thead tr
{
	padding:5px;
	width: 100%;	
}

#employeeheader thead tr th
{
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;

	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: fantasy;
	font-size: 15px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-shadow: white 1px 1px 1px;
	
	white-space: nowrap;
	/*padding: 10px;*/
	width: 50px;
	
}*/

.employeedata
{
	width:100%;
	table-layout: fixed;
	
}
.employeedata tbody tr {
	height: 10%;
}

.employeedata td {
	white-space: nowrap;
	/*padding: 10px;*/
	/*width: 50px;*/
	font-family: fantasy;
	font-size: small;
}